.checkbox{
    margin-right: 10px; 
  }

  .ion-text-wrap{
color: var( --ion-text-color);

  }

  .card-content-md{

    border: 1px solid var( --ion-text-color) ;
  }
  

  // ion-action-sheet.my-custom-class .action-sheet-wrapper {
  //   background-color: pink;
  // }
  

  // .my-custom-class{


  //   color: aqua;
  // }